@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body, html {
    background-color: black;
}
.title-text {
    font-family: 'Comfortaa', cursive;
}
input[type="text"] {
    line-height: 1.5;
}

.acc-input {
    border: 1px solid #bbc;
    border-radius: 5px;
}

.custom-file {
    width: 50%;
    max-width: 300px;
    min-width: 200px;
}

a.title-text:hover {
    text-decoration: none;
}

a.title-text:hover > svg {
    fill: #0000EE;
}

svg {
    vertical-align: middle;
}

.rem-11 {
    font-size: 1.1rem;
    color: #e7740e;
}

.rem-9 {
    font-size: 0.9rem;
    color: #ccc;
}

.icon-button {
    border-radius: 5px;
}

.icon-button:hover {
    background-color: #555;
}

.file-name {
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 2rem;
}

.file-name::-webkit-scrollbar {
    display: none;
}