<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="{{ url_for('static', filename = 'app.js') }}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Home | FileDrop</title>
</head>
<body ng-app="MyApp" ng-controller="homeCtrl">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark shadow-md">
        <!-- Brand -->
        <a class="navbar-brand title-text" href="/">
            <img src="{{ url_for('static', filename = 'logo.png') }}" alt="logo" width="30" height="30">
            &nbsp;FileDrop
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto" ng-show="!currentUser">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" ng-show="currentUser">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newfile">New File</a>
                </li>
                <li class="nav-item">
                    <span role="button" class="nav-link float-left" ng-click="logout()">Log Out</span>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-white p-5 mt-5 text-center" ng-app="MyApp" ng-controller="homeCtrl">
        <img class="mb-4" src="{{ url_for('static', filename = 'logo.png') }}" alt="logo" width="100" height="100">
        <h1 class="title-text">Download now</h1>
        <p class="title-text mb-5">Enter a code to download a file anonymously</p>
        <div class="mb-4">
            <input class="px-2 py-1 mb-4" id="filecode" name="filecode" ng-model="filecode" ng-change="handleChange()" type="text" placeholder="Enter your 8-Digit code here">
            <button class="btn btn-primary" ng-click="handleClick()">Go</button><br>
        </div>
        <small class="text-danger text-left mt-5 pt-5 font-weight-light" id="error-text">[[errorText]]</small><br>
    </div>
</body>
</html>