<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="{{ url_for('static', filename = 'app.js') }}"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <title>Login | FileDrop</title>
</head>
<body ng-app="MyApp">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark shadow-md">
        <!-- Brand -->
        <a class="navbar-brand title-text" href="/">
            <img src="{{ url_for('static', filename = 'logo.png') }}" alt="logo" width="30" height="30">
            &nbsp;FileDrop
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container text-white p-5 mt-5 text-center" ng-app="MyApp" ng-controller="loginCtrl">
        <img class="mb-4" src="{{ url_for('static', filename = 'logo.png') }}" alt="logo" width="100" height="100">
        <h1 class="title-text">Log In</h1>
        <input class="px-2 py-1 mt-4 bg-dark text-white acc-input" id="username" ng-model="username" type="text" placeholder="Username or email"><br>
        <input class="px-2 py-1 mt-4 mb-3 bg-dark text-white acc-input" id="password" ng-model="password" type="password" placeholder="Password"><br>
        <small class="text-danger text-left mt-3 font-weight-light" id="error-text">[[errorText]]</small><br>
        <button class="btn btn-primary mt-3" ng-click="handleClick()">Log In</button>
    </div>
</body>
</html>